.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  /* min-width: 100vw; */

  gap: 34px;
}

.logoContainer {
  background-color: black;
  padding: 24px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logoContainer img {
  width: 180px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 50%;
}

.textContainer h1 {
  font-size: 34px;
  color: var(--dark-grey);
}

.headingBorder {
  height: 8px;
  width: 40%;
  background-color: var(--dark-grey);
  margin: 8px 0 24px;
}

.textContainer p {
  color: var(--light-grey);
  text-align: justify;
}

@media screen and (max-width: 320px) {
  .textContainer {
    padding: 0 5%;
    width: auto;
  }
}

/* Media query para smartphones médios */
@media screen and (min-width: 321px) and (max-width: 375px) {
  .textContainer {
    padding: 0 5%;
    width: auto;
  }
}

/* Media query para smartphones grandes */
@media screen and (min-width: 376px) and (max-width: 414px) {
  .textContainer {
    padding: 0 5%;
    width: auto;
  }
}
