:root {
  --dark-grey: #333333;
  --light-grey: #808080;
  --light-text: #e2e2e2;
  --medium-text: #b7b7b7;
  --yellow: #ffb612;
  --red: #dc0a17;
  --green: #2fc022;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fff;
  color: #333;
  transition: 0.3s;

  height: 100vh;
}
